<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{{ body }}}
    <script src="/{{appFile}}.js"></script>
  </body>
</html>