body {
    width: 100%;
    overflow-x: hidden;
    background-position: fixed;
    background-image: url('http://cty.io/img/antwerp.jpg');
    background-color: rgba(0,0,0,0.3);
}
.nav {
	background-color: rgba(255,255,255,0.5);
	padding: 6px;
    color: white;
    text-align: center;
}

.nav h3 {
    margin: 2px;
}

main {
    background-color: rgba(255,255,255,0.2);
    min-height: 1000px;
}

.chart-container {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 12px;
    margin: 12px 0;
    min-height: 250px;
}

/*Utils*/
.noSelect {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
} 

button:focus {outline:0 !important;}

.noPaddingLeft {
    padding-left: 0px !important;
}

.noPaddingRight {
    padding-right: 0px !important;
}